@model IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>@(Model.ShowHistory ? "historiska " : "")@(Model.HasBooking ? "bokade " : "")Gympass</h1>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole(Gymbokning.Models.RoleNames.AdminRole))
    {
        <div><a asp-action="Create">Create New</a></div>
    }
    <div><a asp-action="Index" asp-route-hasbooking=@Model.HasBooking asp-route-showhistory="@(!Model.ShowHistory)">Visa @(Model.ShowHistory ? "kommande" : "historiska")</a></div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.First().StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.First().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.First().Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GymClasses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @if(User.Identity.IsAuthenticated){<a asp-action="BookingToggle" asp-route-hasbooking=@Model.HasBooking asp-route-showhistory="@(Model.ShowHistory)" asp-route-id="@item.Id">@if (item.IsBooked) { <span>Cancel booking</span> } else { <span>Book</span> }</a><span> | </span>
                    }
                    @if(User.Identity.IsAuthenticated && User.IsInRole(Gymbokning.Models.RoleNames.AdminRole)){<a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> | </span> }
                @if(User.Identity.IsAuthenticated && User.IsInRole(Gymbokning.Models.RoleNames.AdminRole)){<a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span> | </span> }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
